.logo1 {
   vertical-align: middle;
   padding: 0 10px 0 60px;
}
.meniu-item {
    display: inline-block;
    margin: 30px;
    font-family: "ALK Life-font";
}
.container {
  width: 1400px;
  margin: 0 auto;
}
.section-background {
  background-color: #f9f8f8;
  padding-top: 35px;
}
.title-block {
  color: #7eb693;
  font-family: "Yellowtail";
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  padding-left: 150px;
}

.navigation {
    display: inline-block;
    vertical-align: middle;
    padding: 16px 8px 16px 8px;
    margin-left: 50px;
}


.right-container {
  width: 450px;
}
.image-el {
  width: 100%;
  display: block;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.left-container {
  width: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.roboto {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 20px;
}
.paragraph {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-style: normal;
}

.dummytext {
  margin: 20px 0 0 200px;
  font-family: "Open Sans"

}
.badge {
  font-family: "Open Sans";
  background-color: #ECECEC;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  border-radius: 8px;
  margin-left:150px;
  margin-top: 20px;
}
.circle {
  width: 18px;
  height: 18px;
  border: 4px solid #7EB693;
  border-radius: 50%;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
}

.card {
  width: 180px;
  text-align: center;
  background-color: white;
  padding: 30px 25px;
  border-radius: 10px;
}

.card h3 {
  font-size: 28px;
  margin-bottom: 15px;
}

.card p {
  line-height: 35px;
}
.font {
  font-family: "Open Sans";
}